---
layout: page
title: About
permalink: /about/
description: "A few details on the focus of Agile Carpentry"
---

<div id="team">
  <div class="row">
    <div class="col-md-6 history">
      <h6 class="double-u">Focus</h6>
      <p>I (James) am focused on improving product development organizations through deep meaningful organizational and cultural change. Over the years change fads come and go, yet the truth of what actually works has stayed relatively constant.</p>
      <p>As an example, small focused highly collaborative groups of engineers who closely engage with the users tend to produce the best products. Similarly, test-first style development practices made just as much sense in the 1970s as they make today.</p>

      <p>The LeSS Framework, principles, and guides happen to resonate very strongly with my own experiences regarding what actually works in practice. For this reason I am actively working through the LeSS trainer licensing process. A draft LeSS case study of a LeSS-like adoption I helped lead in a multi-national networking product company is available upon request for more serious inquiries.</p>
    </div>
    <div class="col-md-6 goals">
      <h6 class="double-u">Robust Back-office</h6>
      <p>Agile Carpentry is set up as an S-corp with a very capable back-office infrastructure. This provides the following features:</p>
        <ul>
          <li>W2 employment status</li>
          <li>Professional employment law compliance via TriNet</li>
          <li>Professional accounting services</li>
          <li>Extensive corporate insurance</li>
          <li>International reach</li>
        </ul>
        <p>Everything is in place to ensure vendor compliance and other back-office details go smoothly. You and I can therefore focus on improving your organization during the week, and spending quality time with our families during the weekend.</p>
    </div>
  </div>
  <hr>

  <div class="team-container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="double-u">Our Team</h6>
      </div>
    </div>
    <div class="row">
      {% for item in site.data.team %}
      <div class="col-md-3 individual">
        <img width="100" height="100" class="team-image rounded-circle" src="{{item.image | relative_url}}"
          alt="{{item.name}}">
        <h4 class="name">{{item.name}}</h4>
        <p class="position"><small>{{item.designation}}</small></p>
        <ul class="team-social">
          {% if item.twitter %}
          <li><a href="{{item.twitter}}"><i class="fa fa-twitter-square fa"></i></a></li>
          {% endif %}
          {% if item.facebook %}
          <li><a href="{{item.facebook}}"><i class="fa fa-facebook-official fa"></i></a></li>
          {% endif %}
          {% if item.linkedin %}
          <li><a href="{{item.linkedin}}"><i class="fa fa-linkedin-square fa"></i></a></li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>