---
layout: page
title: About
permalink: /about/
description: "A few details on the focus of Agile Carpentry"
---

<div id="team">
  <div class="row">
    <div class="col-md-6 history">
      <h6 class="double-u">Focus</h6>
      <p>I (James) am focused on improving product development organizations through deep meaningful organizational and cultural change. Over the years change fads come and go, yet the truth of what actually works has stayed relatively constant.</p>
      <p>As an example, small focused highly collaborative groups of engineers who closely engage with the users tend to produce the best products. Similarly, test-first style development practices made just as much sense in the 1970s as they make today.</p>

      <p>The LeSS Framework, principles, and guides resonate very strongly with my own experiences regarding what actually works in practice. I am fortunate to have become one of fewer than a half-dozen LeSS trainers in North America, and one of a <a href="https://less.works/users/trainers">couple dozen LeSS trainers globally</a>.</p>

      <p>I am grateful for the guidance and mentorship provided by Viktor Grgic, Craig Larman, and Bas Vodde throughout the <a href="https://less.works/courses/become-less-trainer">trainer candidate process</a>. Their editorial contributions towards <a href="https://less.works/case-studies/large-server-hardware-company.html">my LeSS case study</a> ensured a far better product, while simulatenously acting as a spring board for many a meaningful insightful conversations.</p>

      <p>More information regarding my LeSS trainer credentials as well as a listing of my upcoming public LeSS courses can be found on <a href="https://less.works/profiles/james-carpenter">my LeSS profile</a>.</p>
    </div>
    <div class="col-md-6 goals">
      <h6 class="double-u">Robust Back-office</h6>
      <p>Agile Carpentry is set up as an S-corp with a very capable back-office infrastructure. This provides the following features:</p>
        <ul>
          <li>W2 employment status</li>
          <li>Professional employment law compliance via TriNet</li>
          <li>Professional accounting services</li>
          <li>Extensive corporate insurance</li>
          <li>International reach</li>
        </ul>
        <p>Everything is in place to ensure vendor compliance and other back-office details go smoothly. You and I can therefore focus on improving your organization during the week, and spending quality time with our families during the weekend.</p>
    </div>
  </div>
  <hr>

  <div class="team-container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="double-u">Our Team</h6>
      </div>
    </div>
    <div class="row">
      {% for item in site.data.team %}
      <div class="col-md-3 individual">
        <img width="100" height="100" class="team-image rounded-circle" src="{{item.image | relative_url}}"
          alt="{{item.name}}">
        <h4 class="name">{{item.name}}</h4>
        <p class="position"><small>{{item.designation}}</small></p>
        <ul class="team-social">
          {% if item.twitter %}
          <li><a href="{{item.twitter}}"><i class="fa fa-twitter-square fa"></i></a></li>
          {% endif %}
          {% if item.facebook %}
          <li><a href="{{item.facebook}}"><i class="fa fa-facebook-official fa"></i></a></li>
          {% endif %}
          {% if item.linkedin %}
          <li><a href="{{item.linkedin}}"><i class="fa fa-linkedin-square fa"></i></a></li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
