<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/bookshelf-with-flowers.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Depth</p>
          <h1>An Engineer's Engineer</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/less-framework-with-james-badges.png' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>LeSS Focused</p>
          <h1>Meaningful Effective Change</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/forging-change-front-and-back-cover.png' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Author</p>
          <h1>Easily Determine Alignment</h1>
        </div>
      </div>
      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/timelineGraphFakeMonths.png' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Experienced</p>
          <h1>LeSS Case Study Available</h1>
        </div>
      </div>
    </div>
  </div>
</section>